body {
  margin: auto;
  background: url(http://d33wubrfki0l68.cloudfront.net/img/84d90b3668cbbeb648630a7cc06358b6b6ba1589/bg.jpg)
    #fff;
  background-size: cover;
  font-family: sans-serif;
  overflow-y: hidden;
}

a {
  text-decoration: underline !important;
}
.float-right *, textarea {
  text-decoration: none;
  outline: none;
  transition: all 0.25s;
}
aside img {
  width: 30px;
}
aside {
  padding: 18px;
  text-align: center;
  width: 46px;
  color: #fff;
}

aside p {
  font-size: 13px;
}
aside .apps:hover {
  background: rgba(97, 97, 97, 0.25);
  border: 1px solid rgba(97, 97, 97, 0.5);
}
aside .apps {
  margin-bottom: 7px;
  width: 56px;
  text-align: center;
  padding: 4px 5px 0px 5px;
  cursor: context-menu;
  border: 1px solid rgba(238, 238, 238, 0);
  border-radius: 4px;
  max-height: 78px;
}
.by a {
  color: #fff;
}
.by {
  color: #fff;
  font-size: 15px;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 0;
}
footer .float-right img {
  width: 15px;
  padding: 15px 4px;
  border-right: 1px solid #0c0c0c;
  border-left: 1px solid #0c0c0c;
}
footer .float-right img:hover {
  border-right: 1px solid #7d7d7d;
  border-left: 1px solid #7d7d7d;
}
footer .float-left img {
  width: 26px;
  padding: 10px 12px;
}
footer textarea:focus {
  width: 320px !important;
  background: #212121;
  cursor: text;
}
footer textarea {
  resize: none;
  width: 42px !important;
  height: 46px !important;
  background: #0c0c0c;
  border: 0;
  font-size: 15px;
  color: #fff;
  padding: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(../img/search.png) #0c0c0c;
  background-repeat: no-repeat;
  background-size: 21px;
  background-origin: content-box;
  cursor: pointer;
}
.float-right {
  float: right;
  text-align: center;
}
.float-left {
  float: left;
}

.padding-time {
  margin-left: 17px !important;
  padding: 5px;
  border-right: 1px solid #0c0c0c;
  border-left: 1px solid #0c0c0c;
  cursor: context-menu;
}
.padding-time:hover {
  border-right: 1px solid #7d7d7d;
  border-left: 1px solid #7d7d7d;
}
footer textarea::placeholder {
  visibility: hidden;
}

footer textarea:focus::placeholder {
  visibility: visible;
}
footer .float-left img:hover {
  background: #212121;
}
ul li {
  list-style: none;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0c0c0c;
  height: 44px;
  color: #fff;
}
